<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
    #cf{font-size:35px;color:black; font-style: bold;}
        


</style>
</head>
<body>
<center>
    <h1 style="font-style: bold; background-color : red; color : white;"> Welcome to The Hospital Management System </h1>
    
    <a href="main" id="cf">Click here to Enter the Hospital </a>
    <h2 style="background-color : azure ; color : purple; border-radius: 20px; width : 55%; ">Current Date and Time is  : {{  data  }} </h2>
<img src="{%  static 'images/hs1.jpg'  %}" alt="Hospital" width="1300" height="412" >
</center>
</body>
</html>